<div class="album_full">
    <img src="data:{{cover.contentType}};base64,{{cover.data}}"/>
    <br/><br/>
    <strong>Artist:</strong> {{artist}}<br/>
    <strong>Album Title:</strong> {{title}}<br/>
    <strong>Year:</strong> {{year}}<br/>
    <strong>Genre:</strong> {{genre}}<br/><br/>
</div>

<a href="#" class="back"><< Back</a> | <a href="#" class="delete">Delete Album</a>
