<div class="album_full">
    <img src="../images/Innerspeaker.jpg"/>
    <br/><br/>
    <strong>Artist:</strong> {{artist}} {{name.last}}<br/>
    <strong>Album Title:</strong> {{title}}<br/>
    <strong>Year:</strong> {{year}}<br/>
    <strong>Genre:</strong> {{genre}}<br/><br/>
</div>

<a href="#" class="back"><< Back</a> | <a href="#" class="delete">Delete Album</a>
